.git
.gitignore
README.md
docker-compose.yml
Dockerfile
.env
.env.backup
.env.example
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/app/*.key
public/storage
.phpunit.result.cache
.php_cs.cache
.DS_Store
.vscode
.idea
